@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

:root {
  /* Colors */
  --color-dark: #1c1d22;
  --color-grey: #eeeff4;
  --color-darkgrey: #535456;
  --color-white: #fefffd;

  /* Typography */
  --font-family-sans: "Spartan", sans-serif;

  /* Design elements */
  --transition: 300ms ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
  font-size: 1.6rem;
  color: var(--color-dark);
  min-height: 100vh;
  background: var(--color-white);
}

a {
  text-decoration: none;
  display: inline-block;
}

button,
input {
  font-family: var(--font-family-sans);
}

img {
  display: block;
  max-width: 100%;
}
